<h1>Subject: <%= subject %></h1>

<h2 class="subheader">Head</h2>
<div class="row">
  <img src="<%= head_axial_pic %>" alt="subject head" class="six columns">
  <img src="<%= head_sagittal_pic %>" alt="subject head" class="six columns">
</div>

<!-- TOOD: add some kind of line break -->

<h2 class="subheader">Brain</h2>
<div class="row">
  <img src="<%= brain_mask_axial_pic %>" alt="subject brain mask" class="six columns">
  <img src="<%= brain_mask_sagittal_pic %>" alt="subject brain mask" class="six columns">
</div>

<hr />